# Getting started with coding

Today is day 1 of class.

In [11]:
#general commands and easy calculations

print("Number of hours of this course in the quarter = ", 10*1.33*2)

Number of hours of this course in the quarter =  26.6

In [12]:
print("and everywhere that Mary went", end = " ")       #Space is ""
print ('the lamb was sure to go to')

and everywhere that Mary went the lamb was sure to go to

In [13]:
text = "abcdefghij"                                     #Counting characters
len(text)

10

In [14]:
print(text[4])                                   #Printing the character at position [] (note that the first character is at position 0)
                                                 #If it is negative, you start from the right

e

In [15]:
print (text[4:])                                 #Printing all the characters before :[] ([] not included) or after []: (with [] included)

efghij

In [16]:
print (text[4:8])                                #Ranges (max not included)

efgh

In [17]:
print(text[::2])                                 #Counting every two numbers

acegi

In [18]:
#attributes and methods

class example_class:
    class_name = 'My class'
    def my_method(self):
        print('Hello world')

In [19]:
e = example_class()

In [20]:
e.class_name

'My class'

In [21]:
e.my_method()

Hello world

In [22]:
#Shapes
class Shape:
    def __init__ (self, x, y):
        self.x = x
        self.y = y
    description = 'None'
    author='none'
    def area(self):
        return self.x*self.y
    def describe (self, text):
        self.description=text
    def perimeter (self):
        return2*self.x+2*self.y
    def authorName (self, text):
        self.author=text
    def scaleSize (self,scale):
        self.x=self.x*scale
        self.y=self.y*scale

rectangle = Shape (100,45)
print(rectangle.area())
rectangle.scaleSize (0.5)
print (rectangle.area())

4500
1125.0

In [23]:
#Inheriting proprieties
class Square(Shape):
    def __init__(self,x):
        self.x = x
        self.y=x

Square (20)
print (Square. area)

class Square2x (Square):
    def __init__(self,y):
        self.x = 2* y
        self.y= y
    def perimeter(self):
        return 2* self.x + 3* self.y

Square2x (10)
print (Square2x. area)

<function Shape.area at 0x759eb68642c0>
<function Shape.area at 0x759eb68642c0>

In [24]:
#assigning multiple values to variables or multiple variables to a value

color1, color2, color3= 'red', 'yellow', 'blue'

color4=color5='magenta'

In [25]:
color1

'red'

In [26]:
color2

'yellow'

In [27]:
color3

'blue'

In [28]:
color4

'magenta'

In [29]:
color5

'magenta'

In [30]:
# data types: 
#PRIMITIVE (integrer -number-, float -decimal number-, boolean -true, flase- , None, string -"" or ''-)
#CONTAINERS (list -[]-, tuple -(), ordered, homogeneous and immtable- , dictionary-{}-)

In [31]:
# call object by reference (and make lists)

x=[1,6]
y=x

In [32]:
#Add a new object to the list or tuple
y. append(4)
print(y)

[1, 6, 4]

In [33]:
print (x)

[1, 6, 4]

In [34]:
#Remove an object from a list
x=[1,6]

del x[0]
print (x)

[6]

In [35]:
type(2)

int

In [36]:
#Create dictionaries (useful for identifying value with another value)
phonebook={'Me':1234,'you':2345}
print (phonebook['Me'])

1234

In [37]:
phonebook['Him']=4567
print (phonebook)

{'Me': 1234, 'you': 2345, 'Him': 4567}

In [38]:
#building a dictionary

ages={}

ages['Me']=18
ages['You']=23
ages['Him']=19

if 'Me' in ages:
    print ('Me is in the dictionary, you are', ages['Me'], 'years old')
else:
    print ('Me is not in the dictionary')

#Keys and values

print ('The following people are in the dictionary', ages.keys())
print ('They are aged the following:', ages.values())

values =ages.values()
keys=ages.keys()

print (keys)
sortedkeys = sorted(keys)
print (sortedkeys)

print (values)
sortedvalues= sorted (values)
print (sortedvalues)

print ('The dictionary has', len(ages), 'entries')

Me is in the dictionary, you are 18 years old
The following people are in the dictionary dict_keys(['Me', 'You', 'Him'])
They are aged the following: dict_values([18, 23, 19])
dict_keys(['Me', 'You', 'Him'])
['Him', 'Me', 'You']
dict_values([18, 23, 19])
[18, 19, 23]
The dictionary has 3 entries

In [39]:
# built in module examples

# RANGE

print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# DATE TIME

import datetime as dt

dt_object = dt.datetime(2025, 8, 18, 16, 2, 0)

In [41]:
dt_object.day

18

In [42]:
dt_object.month

8

In [43]:
dt_object.minute

2

In [44]:
dt_object. strftime ('%d/%m/%y')

'18/08/25'

In [45]:
dt_object. strftime ('%d/%m/%Y')

'18/08/2025'

In [46]:
dt_object. strftime ('%h-%d-%Y')

'Aug-18-2025'

In [47]:
# Function definition

def add(x,y):
    """This function adds the two numbers"""
    z=x+y
    return z

In [48]:
x=1
y=2
add(x,y)

3

In [49]:
def say_hello_to(name):
    print('Hello ', name)
    print ('How are you?')

In [50]:
say_hello_to('Marina')

Hello  Marina
How are you?

In [51]:
# Local vs. global (depending on the position)

def greeting():
    message = 'Hello' #LOCAL VARIABLE
    print ('Local', message)
greeting() #you cannot print(message)

Local Hello

In [52]:
message = 'hello'

def greeting ():
    print ('Global', message)

greeting()

Global hello

In [53]:
# Naming arguments in functions and optional arguments

def loan_emi (amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi

In [54]:
emi1 = loan_emi (amount=1.26e6, duration=8*12, rate=0.1/12, down_payment=3e5)

emi1

14567.19753389219

In [55]:
# If an argument is not provided, it uses the default value (in this case, 0)

emi2 = loan_emi (amount=1.26e6, duration=8*12, rate=0.1/12)
emi2

19119.4467632335

In [56]:
# Args and kwargs

def fun(*args, **kwargs):
    print ("args: ", args)       #Not assigned
    print ("kwargs: ", kwargs)   #Assigned

fun( 'Marina', 18, 'student', name= 'Marina', age=18, profession= 'student')
fun('a',a='b')

args:  ('Marina', 18, 'student')
kwargs:  {'name': 'Marina', 'age': 18, 'profession': 'student'}
args:  ('a',)
kwargs:  {'a': 'b'}

In [57]:
# Boolean expressions
#Expression 	Function
#< 	Less than
#<= 	Less than or equal to
#> 	Greater than
#>= 	Greater than or equal to
#!= 	Not equal to
#== 	Equal to

In [58]:
# Built in keywords

#CONDITIONAL STATEMENTS

a_number = 9

if a_number % 2 == 0:
    print ('{} is even'. format(a_number))
    if a_number % 3 == 0:
        print ('{} is also divisible by 3'. format(a_number))
    else:
        print ('{} is not divisible by 3'. format(a_number))
else:
    print ('{} is odd'. format(a_number))

#You use elif when you want to add conditions between if and else. You can also nest (include an if inside of an if to add info).

9 is odd

In [59]:
# You can also define the equality and put if and else inside.

parity = 'even' if a_number % 2 == 0 else 'odd'
print ('The number {} is {}. '. format(a_number, parity))

The number 9 is odd.

In [60]:
# You can use the pass option to do nothing.

if a_number % 2 == 0:
    pass
elif a_number % 3 == 0: 
    print ('{} is divisible by 3 but not divisible by 2'. format(a_number))

9 is divisible by 3 but not divisible by 2

In [61]:
# Iteration with while and for loops

result=1
i=1

while i<=10:
    result=result*i
    i=i+1
    print('result: ',result, ' i: ', i)

print ('The factorial of 100 is: {}'. format(result))

result:  1  i:  2
result:  2  i:  3
result:  6  i:  4
result:  24  i:  5
result:  120  i:  6
result:  720  i:  7
result:  5040  i:  8
result:  40320  i:  9
result:  362880  i:  10
result:  3628800  i:  11
The factorial of 100 is: 3628800

In [62]:
i=1
result=1

while i<= 100:
    result *=i
    if i== 42:
        print ('Magic number reached! Stopping execution.')
        break
    i += 1

print ('i:', i)
print ('result:', result)

#= for assignments and == for conditions.

Magic number reached! Stopping execution.
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [63]:
i=1
result=1

while i<8:
    i+= 1
    if i%2==0:
        print('Skipping {}'.format(i)) #Logging
        continue
    print('Multiplying with {}'.format(i))
    result=result*i

print ('i:', i)
print ('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
i: 8
result: 105

In [64]:
# FOR, CONTINUE and BREAK

for val in "Marina":
    if val == "i":
        break
    print (val)

print ('The end')

M
a
r
The end

In [65]:
for val in "Marina":
    if val == "i":
        continue
    print (val)
print ('The end')

M
a
r
n
a
The end

In [66]:
# Looping over a string

for char in 'Monday':
    print (char)

M
o
n
d
a
y

In [67]:
# Looping over a dictionary

person = {
    'name': 'Marina',
    'sex': 'Female',
    'age': 18,
    'married': False
}

for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: Marina
Key: sex , Value: Female
Key: age , Value: 18
Key: married , Value: False

In [68]:
# Iteration using range and enumerate (IN)

for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [69]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [70]:
for i in range (2,8,2):
    print(i)

2
4
6

In [71]:
# Enumerating lists

a_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

for i in range (len(a_list)):
    print ('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Mon.
The value at position 1 is Tue.
The value at position 2 is Wed.
The value at position 3 is Thu.
The value at position 4 is Fri.
The value at position 5 is Sat.
The value at position 6 is Sun.

In [72]:
for i, val in enumerate(a_list):
    print('The value at postion {} is {}.'.format(i, val))

The value at postion 0 is Mon.
The value at postion 1 is Tue.
The value at postion 2 is Wed.
The value at postion 3 is Thu.
The value at postion 4 is Fri.
The value at postion 5 is Sat.
The value at postion 6 is Sun.

In [73]:
# COUNT and FIND

sentence = 'You are doing your homework'
print (sentence.count('o'))

5

In [74]:
print (sentence.find('k'))

26

In [75]:
print (sentence.rfind('y'))    #When you have repeated characters

14

In [76]:
#UPPER, SPLIT, REPLACE

print(sentence.upper())
print (sentence.split(" "))
print (sentence.replace('homework','tasks'))

YOU ARE DOING YOUR HOMEWORK
['You', 'are', 'doing', 'your', 'homework']
You are doing your tasks

In [77]:
#\ and \n for escape and new lines!

In [78]:
#INPUT and EVAL
#a = eval(input("Type in something, and it will be repeated on screen: "))
#print(a)

Type in something, and it will be repeated on screen:  1

1

In [79]:
#EXERCISE: creating a calculator with inputs and loops and conditions

print ('This is my own calculator')

loop=1
choice=0

while loop==1:
    print ('Your options are:')
    print ('1. Addition')
    print ('2. Subtraction')
    print ('3. Miltiplication')
    print ('4. Division')
    print ('5. Quit')

    choice=eval(input("Your choice: "))
    if choice==1:
        add1 = eval(input("Add this: "))
        add2 = eval (input ("To this: "))
        print (add1, "+", add2, "=", add1+add2)
    elif choice==2:
        sub1 = eval(input("Subtract this: "))
        sub2 = eval (input ("To this: "))
        print (sub2, '-', sub1, '=', sub2-sub1)
    elif choice==3:
        mul1 = eval(input("Multiply this: "))
        mul2 = eval (input ("To this: "))
        print (mul1, '*', mul2, '=', mul1*mul2)
    elif choice==4:
        div1 = eval(input("Divide this: "))
        div2 = eval(input("Between this: "))
        print (div1, '/', div2, '=', div1/div2)
    elif choice==5:
        loop=0

print ('Thank you for using my calculator!')

This is my own calculator
Your options are:
1. Addition
2. Subtraction
3. Miltiplication
4. Division
5. Quit

Your choice:  5

Thank you for using my calculator!

In [80]:
#EXERCISE 2: getting the calculator to a higher level with functions

def menu():
    print ('This is my own calculator')
    print ('Your options are:')
    print ('1. Addition')
    print ('2. Subtraction')
    print ('3. Miltiplication')
    print ('4. Division')
    print ('5. Quit')
    print ("")
    return eval(input("Your choice: "))

def add(a,b):
    print (a, "+", b, "=", a+b)

def sub(a,b):
    print (a, '-', b, '=', a-b)

def mul(a,b):
    print (a, '*', b, '=', a*b)

def div(a,b):
    print (a, '/', b, '=', a/b)
    
loop=1
choice=0

while loop==1:
    choice=menu()
    if choice==1:
         add(eval(input("Add this: ")), eval (input ("To this: ")))
    elif choice==2:
         sub(eval(input("Subtract this: ")), eval (input ("To this: ")))
    elif choice==3:
         mul(eval(input("Multiply this: ")), eval (input ("To this: ")))
    elif choice==4:
         div(eval(input("Divide this: ")), eval(input("Between this: ")))
    elif choice==5:
        loop=0

print ('Thank you for using my calculator!')

This is my own calculator
Your options are:
1. Addition
2. Subtraction
3. Miltiplication
4. Division
5. Quit

Your choice:  5

Thank you for using my calculator!

In [81]:
#EXERCISE 3

def menu(list, question):
    for entry in list:
        print(1 + list.index(entry),end="")
        print (") " + entry)

    return eval(input(question)) - 1

items= ['pot plant', 'painting', 'vase', 'lampshade', 'shoe', 'door']
keylocation=2
keyfound=0
loop=1

print ('Instructions of the game. You have to find the key of the room you are locked in.')
print ('The key is in one of these objects:', items)

for x in items:
    print(x)
print("")
print("The door is locked. Could there be a key somewhere?")

while loop == 1:
    choice = menu(items,"What do you want to inspect? ")
    if choice == 0:
        if choice == keylocation:
            print("You found a small key in the pot plant.")

            print("")
            keyfound = 1
        else:
            print("You found nothing in the pot plant.")
            print("")
    elif choice == 1:
        if choice == keylocation:
            print("You found a small key behind the painting.")
            print("")

            keyfound = 1
        else:
            print("You found nothing behind the painting.")
            print("")
    elif choice == 2:
        if choice == keylocation:
            print("You found a small key in the vase.")
            print("")
            keyfound = 1
        else:
            print("You found nothing in the vase.")

            print("")
    elif choice == 3:
        if choice == keylocation:
            print("You found a small key in the lampshade.")
            print("")
            keyfound = 1
        else:
            print("You found nothing in the lampshade.")
            print("")

    elif choice == 4:
        if choice == keylocation:
            print("You found a small key in the shoe.")
            print("")
            keyfound = 1
        else:
            print("You found nothing in the shoe.")
            print("")
    elif choice == 5:
        if keyfound == 1:
            loop = 0
            print("You put in the key, turn it, and hear a click")

            print("")
    
        else:
            print("The door is locked, you need to find a key.")
            print("")

Instructions of the game. You have to find the key of the room you are locked in.
The key is in one of these objects: ['pot plant', 'painting', 'vase', 'lampshade', 'shoe', 'door']
pot plant
painting
vase
lampshade
shoe
door

The door is locked. Could there be a key somewhere?
1) pot plant
2) painting
3) vase
4) lampshade
5) shoe
6) door

KeyboardInterrupt: Interrupted by user

In [ ]:
#opening files

filename = "/home/christopher/requirements.tx"
fl=open(filename, 'r')
for line in fl:
    print(line.strip())
fl.close ()

In [ ]:
#opening files

filename = "/home/christopher/requirements.tx"
fl=open(filename, 'r')
print(fl.read())

#in case it moved, you could also seek in a file using seek(offset -0 beginning, 1 cursor current position, 2 ending-, whence -how far-)
#you can also print(fl.read())

#fl.tell() #exact position of the cursor
#fl.readline () #reads until the next paragraph (you can put a maximum amount of parameters to read in the ())
#fl. readlines () #list of elements holding a line code
#fl.close ()

In [ ]:
import pickle

picklelist = ['yes', 'i', 'have', 'pickled', 'this']

file = open ('/home/christopher/geomagnetic_storms/Pickling document.ipynb', 'wb')
pickle.dump(picklelist,file)
file.close()

In [ ]:
import pickle

unpicklefile = open ('/home/christopher/geomagnetic_storms/Pickling document.ipynb', 'wb')
unpickledlist = pickle.load(unpicklefile)
unpicklefile.close()

for item in unpickledlist:
    print(item)

In [ ]:
#If you get errors, you can use try and except (type the type of error as a function and give it a different outcome)
#You can also use continue in loops and add as many excepts as we want to include all the error types. 
print("Subtraction program, v0.0.2 (beta)")
loop = 1
while loop == 1:
    try:
        a = eval(input('Enter a number to subtract from > '))
        b = eval(input('Enter the number to subtract > '))
    except NameError:
        print("\nYou cannot subtract a letter")
        continue
    except SyntaxError:
        print("\nPlease enter a number only.")
        continue
    print(a - b)
    try:
        loop = eval(input('Press 1 to try again > '))
    except (NameError, SyntaxError):
        loop = 0

# Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Pandas objects

#SERIES (1D array)

data = pd.Series ([0.25, 0.5, 0.75, 1.0],
                  index=[1, 2, 3, 4])

data

In [ ]:
data.index

In [ ]:
data.values

In [ ]:
data[1]

In [ ]:
data[0:3]

In [ ]:
#constructing series from dictionaries

age_dict= {'Marina':18,
         'Arnau':13,
         'Joan':54,
         'Nuri':48}
age = pd.Series(age_dict)
age

In [ ]:
#slicing by explicit integrer index (final index included)
age['Marina':'Joan']

In [ ]:
#slicing by implicit integrer index (final index excluded)

age[0:3]

In [ ]:
#masking
age [(age>10)&(age<15)]

In [ ]:
#fanciyng indexing
age[['Arnau', 'Joan']]

In [ ]:
#Adding data

age['Àngel']=85
age

In [ ]:
#AVOIDING CONFUSION WHEN SLICING OR INDEXING (loc - explicit - , iloc - implicit-, ix - hybrid combination-)

In [ ]:
# DATAFRAME (2D array)
#from a single series

pd.DataFrame(age, columns=['age'])

In [ ]:
#generating another series and constructing it from two series

gen_dict={'Marina':'dona',
          'Arnau':'home',
          'Joan':'home',
          'Nuri':'dona'}
gender = pd.Series (gen_dict)

família = pd.DataFrame({'age': age, 'gender': gender})

família

In [ ]:
família.index

In [ ]:
família.columns

In [ ]:
família.age

In [ ]:
família['age']

In [ ]:
família.age is família['age']

In [ ]:
família.gender is família['gender'] #Do not always rely on família.gender because it could not be the same!!!

In [ ]:
# it orders itself even though it is not initially placed in order
gen_dict={'Arnau':'home',
          'Marina':'dona',
          'Joan':'home',
          'Nuri':'dona'}
gender = pd.Series (gen_dict)

família = pd.DataFrame({'age': age, 'gender': gender})

família

In [ ]:
#other way of viewing data file

família.values

In [ ]:
#traspose

família.T

In [ ]:
#select a single row

família.values[0]

In [ ]:
#select single column

família['age']

In [ ]:
#selecting data the same way as with series

família.iloc[:3,:2]

In [ ]:
família.loc[:'Joan', :'gender']

In [ ]:
família.iloc[:3, :2]

In [ ]:
família.loc[:família.index[2], :'age']

In [ ]:
#adding column

família['walks'] = [1,2,3,4,5]

In [ ]:
a = {1,2,3,4,5,5}
a?

In [ ]:
b= [1,2,3,4,5,5]
b?

In [ ]:
# constructing a data frame with the own index

data = [{'a': i, 'b': 2 * i}
        for i in range(5)]
pd.DataFrame(data)

In [ ]:
# constructing a data frame form a numpy array
pd.DataFrame (np.random.rand(2,3),
              columns=['res','buit','cacota'],
              index=['a','b'])
#you also have radint (random integrer between a certain numbers)

#you type np.whatever to get mathematical expressions or functions: https://numpy.org/devdocs/reference/ufuncs.html

In [ ]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

In [ ]:
pd. DataFrame(A)

In [ ]:
# INDEX (immutable)

ind = pd.Index([1,2,3,4])
ind

In [ ]:
# also has attributes as an np array

print (ind.size, ind.shape, ind.ndim, ind.dtype)

#you can indicate if you want the column row .shape[0] or the column amount .shape[1]

In [ ]:
# you can generate unions, intersections and differences in a familiar way

ind1 = pd.Index([1,3,5,7,9])
ind2 = pd.Index([1,2,3,4,5])

In [ ]:
#ind1 | ind2

ind1 & ind2

In [ ]:

ind1 ^ ind2

In [117]:
#multiindex

#if you put two things in the index it will be created automatically

index = [('Hello', 1), ('Hello', 2), ('Goodbye', 1),('Goodbye', 2)]

index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([(  'Hello', 1),
            (  'Hello', 2),
            ('Goodbye', 1),
            ('Goodbye', 2)],
           )

In [118]:
values = [1.1, 1.2, 2.1, 2.2]
val = pd.Series (values, index=index)

val= val.reindex(index)
val

Hello    1    1.1
         2    1.2
Goodbye  1    2.1
         2    2.2
dtype: float64

In [119]:
val_df = val.unstack()
val_df

           1    2
Goodbye  2.1  2.2
Hello    1.1  1.2

In [120]:
val_df.stack()

Goodbye  1    2.1
         2    2.2
Hello    1    1.1
         2    1.2
dtype: float64

In [130]:
val_df = pd.DataFrame ({'first of all': val,
                       'then': [1,2,3,4]})
val_df

                first of all  then
greeting times
Hello    1               1.1     1
         2               1.2     2
Goodbye  1               2.1     3
         2               2.2     4

In [131]:
#slicing these indexes

idx = pd.IndexSlice
val_df.loc[idx[:, 1], idx[:, 'then']]

KeyError: '[slice(None, None, None)] not in index'

In [122]:
val.index.names = ['greeting','times']
val

greeting  times
Hello     1        1.1
          2        1.2
Goodbye   1        2.1
          2        2.2
dtype: float64

In [125]:
val_df = val.unstack()
val_df

times       1    2
greeting
Goodbye   2.1  2.2
Hello     1.1  1.2

In [ ]:

a = 30
b = 20


if a>b:
    família.loc['Arnau','age']=40
else:
    família.loc['Arnau','age']=3

família

In [ ]:
# Operations

# using np functions allow you to have fill_value option, for example

A= pd.Series ([2,4,6], index=[0,1,2])
B=pd.Series ([1,3,5], index=[1,2,3])

A.add(B, fill_value=0)

In [ ]:
#Python Operator 	Pandas Method(s)
# + 	            add()
# -  	            sub(), subtract()
# * 	            mul(), multiply()
# / 	            truediv(), div(), divide()
# // 	            floordiv()
# % 	            mod()
# ** 	            pow()

In [106]:
#RENAME FUNCTION

família_renamed = família.rename(columns={'gender':'Gender'})
família_renamed

        age Gender short gender
Arnau    13   home            H
Joan     54   home            H
Marina   18   dona            D
Nuri     48   dona            D

In [82]:
#APPLY FUNCTION

#you can define a function and apply it to some columns --> pd[['name of column']].apply(function)
#lambda functions: you can apply them direclty without defining them forehand

família[['age']].apply(lambda x:x+1, axis=0)

        age
Arnau    14
Joan     55
Marina   19
Nuri     49

In [84]:
#MAP FUNCTION

map_gender = {'home':'H', 'dona':'D'}
família['short gender'] = família['gender'].map(map_gender)
família

        age gender short gender
Arnau    13   home            H
Joan     54   home            H
Marina   18   dona            D
Nuri     48   dona            D

In [88]:
#DROP FUNCTION
nova_família = família.drop('short gender', axis=1)
nova_família

        age gender
Arnau    13   home
Joan     54   home
Marina   18   dona
Nuri     48   dona

In [90]:
#UNIQUE FUNCTION
família.age.unique()

array([13, 54, 18, 48])

In [91]:
#VALUE_COUNTS FUNCTION
família.age.value_counts()

age
13    1
54    1
18    1
48    1
Name: count, dtype: int64

In [92]:
#ISIN FUNCTION
home_gender = família.loc[família.gender.isin(['home']),:]
home_gender

       age gender short gender
Arnau   13   home            H
Joan    54   home            H

In [94]:
#Data manipulation

#subsetting (selecting rows and columns)

dones = família.loc[família.gender.isin(['dona']), ['gender']]
dones

       gender
Marina   dona
Nuri     dona

In [96]:
#replacing index

gender_index = família.set_index(keys=família['gender'])
gender_index

        age gender short gender
gender
home     13   home            H
home     54   home            H
dona     18   dona            D
dona     48   dona            D

In [100]:
#sorting (ordering)

família_sorted = família.sort_values(by = 'age', ascending=True)
família_sorted.head()

        age gender short gender
Arnau    13   home            H
Marina   18   dona            D
Nuri     48   dona            D
Joan     54   home            H

In [103]:
#ranking

família_ranked = família.copy()
família_ranked['oldest']=família_sorted['age'].rank(ascending = False)

família_ranked
#parameters inside of this function (axis, method, numeric_only=F/T, na_option='keep'/'top'/'bottom', ascending, pct=T/F - percent-)

        age gender short gender  oldest
Arnau    13   home            H     4.0
Joan     54   home            H     1.0
Marina   18   dona            D     3.0
Nuri     48   dona            D     2.0

In [108]:
# correlation (must be in float)

# df.corr()
# df.corrwith(df.column).sort_values(ascending=False)

# Challenge

In [ ]:
#stuff needed


#df.groupby('columntitle')

In [ ]:
#for (columntitle, group) in nameofdatafile.groupby('columntitle'):
   # print("{0:30s} shape={1}".format(columntitle, group.shape))


#df.groupby('key').apply(norm_by_data2 FUNCTION)

#imrangeglobal = pd.cut(cme_hit['imrangeglobaö'], [0, 18, 80])
#titanic.pivot_table('survived', ['sex', age], 'class')